    <div class="layui-footer">
        <!-- 底部固定区域 -->
        @我有底部的
    </div>
</div>
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/layui/layui.js"></script>
<script src="/javascripts/tool.js"></script>
<script>
    layui.use('element', function () {
        var element = layui.element;
    });
</script>