<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a class="" href="javascript:;">博文管理</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/admin" class="<%= currentUrl=='/admin'?'layui-this':'' %>">博文列表</a>
                    </dd>
                    <dd>
                        <a href="/admin/articles/publish" class="<%= currentUrl=='/admin/articles/publish'?'layui-this':'' %>">发布博文</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="/admin/word" class="<%= currentUrl=='/admin/word'?'layui-this':'' %>">留言板管理</a>
            </li>
        </ul>
    </div>
</div>