<div class="banner clearfix">
    <!-- Swiper -->
    <div class="swiper-container gallery-top fl">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-src="/images/index/nature-1.jpg" style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-2.jpg" style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-3.jpg" style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-4.jpg" style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-5.jpg" style="background-image:url(/images/common/img_loading.gif)"></div>
        </div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div> -->
    </div>
    <div class="swiper-container gallery-thumbs fr">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-src="/images/index/nature-1.jpg"  style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-2.jpg"  style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-3.jpg"  style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-4.jpg"  style="background-image:url(/images/common/img_loading.gif)"></div>
            <div class="swiper-slide" data-src="/images/index/nature-5.jpg"  style="background-image:url(/images/common/img_loading.gif)"></div>
        </div>
    </div>
</div>