<%- include('./partials/header.ejs') %>
<title>Iblog后台管理系统-主页</title>
</head>

<body class="layui-layout-body">

    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/left.ejs',{currentUrl:'/admin'}) %>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>博文列表</legend>
            </fieldset>
            <table class="layui-hide" id="test" lay-filter="test"></table>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
    <script>
        /**
         * @description: 跳转到文章详情
         * @param id{Sting} 文章id 
         * @return: 
         */
        function skipDetail(id){
            let page =  $(".layui-laypage-em").next().html();
            //分页数目
            let limit = $(".layui-laypage-limits").find("option:selected").val();
            let url = '/admin/articles/detail?id='+id+'&page='+page+'&limit='+limit;
            window.location.href = url;
        }
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#test',
                url: '/admin/articles',
                page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'], //自定义分页布局
                    curr: getUrlParam("page")||1, //设定初始在第 5 页
                    limit: getUrlParam("limit")||10,
                    limits: [2, 5, 10, 20, 50],
                    groups: 5, //只显示 1 个连续页码
                    first: false, //不显示首页
                    last: false //不显示尾页
                },
                cols: [[
                    { type: 'numbers' },
                    {
                        field: 'title', width: 150, title: '标题', sort: true, templet: function (d) {
                            return '<a href="javascript:;" onclick="skipDetail(\''+d._id+'\')">' +d.title + '</a>';
                        }
                    },
                    {
                        field: 'type', width: 98, title: '文章类型', sort: true, templet: function (d) {
                            if (d.type === 0) {
                                return "经典文章";
                            } else {
                                return "生活随笔";
                            }
                        }
                    },
                    { field: 'introduction', title: '简介', minWidth: 200 },
                    { field: 'author', width: 120, title: '作者', sort: true },
                    { field: 'createTime', width: 165, title: '发布时间', sort: true },
                    { width: 110, title: '操作', toolbar: '#barDemo' }
                ]]
            });
            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $.ajax({
                            type: "post",
                            url: "/admin/articles/delete",
                            data: {
                                id: obj.data._id
                            },
                            dataType: "json",
                            success: (data) => {
                                layer.msg(data.msg, { time: 2000 });
                                if (data.status == 200) {
                                    //obj.del();删除视图
                                    //刷新本页
                                    $(".layui-laypage-btn").click();
                                }
                            }
                        })
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    //当前页码
                    let page =  $(".layui-laypage-em").next().html();
                    //分页数目
                    let limit = $(".layui-laypage-limits").find("option:selected").val();
                    let url = '/admin/articles/publish?id='+obj.data._id+'&page='+page+'&limit='+limit;
                    window.location.href = url;
                }
            });
        });
    </script>
</body>

</html>