* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    min-width: 1080px;
    -webkit-font-smoothing: antialiased;
    color: #333;
}
.loading-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.loading-mask>img{
    width: 250px;
}
.loading-mask>p{
    color: #b7b7b7;
    font-size: 14px;
    font-weight: 400;
}
/****** theme-1 ******/
body.theme-1{
    background: #111b25 url(/images/index/top.jpg) center top no-repeat;
}
body.theme-1 .nav-bg{
    background: #444444;
}
/****** theme-2 ******/
body.theme-2{
    background: #e7eec2 url(/images/index/theme_02.jpg) center top no-repeat;
}
body.theme-2 .nav-bg{
    background: #d8d681;
}
body.theme-2 .foot {
    background: #d4d285;
}
body.theme-2 .foot-copyright {
    background: #b9b533;
    color: #ffffff;
}
body.theme-2 .foot-link p,
body.theme-2 .foot-link-wrap a{
    color: #ffffff;
}
body.theme-2 #backToTop{
    background: rgb(210, 223, 74);
}
/****** theme-3 ******/
body.theme-3{
    background: #d6c5a9 url(/images/index/theme_03.jpg) center top no-repeat;
}
body.theme-3 .nav-bg{
    background: #b6b393;
}
body.theme-3 .foot {
    background: #c1bea6;
}
body.theme-3 .foot-copyright {
    background: #d6c5a9;
    color: #ffffff;
}
body.theme-3 .foot-link p,
body.theme-3 .foot-link-wrap a{
    color: #ffffff;
}
body.theme-3 #backToTop{
    background: rgb(203, 211, 115);
}
/****** theme-4 ******/
body.theme-4{
    background: #efe5b0 url(/images/index/theme_04.jpg) center top no-repeat;
}
body.theme-4 .nav-bg{
    background: #b1d1c5;
}
body.theme-4 .foot {
    background: #d1c792;
}
body.theme-4 .foot-copyright {
    background: #b2a76e;
    color: #ffffff;
}
body.theme-4 .foot-link p,
body.theme-4 .foot-link-wrap a{
    color: #ffffff;
}
body.theme-4 #backToTop{
    background: rgb(168, 216, 182);
}

.header {
    position: relative;
    width: 100%;
    height: 291px;
}
.switch-theme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 5%;
    cursor: pointer;
}
.switch-theme i{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(/images/common/theme.png) center no-repeat;
    background-size: cover;
    animation:arrowLeft 2s linear infinite;
    -webkit-animation:arrowLeft 2s linear infinite;
}
.switch-theme>span{
    color: #4383b6;
    font-size: 12px;
    font-weight: 400;
}
@keyframes arrowLeft {
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
    100%{transform: rotateY(360deg);}
}
@-webkit-keyframes arrowLeft {
    0%{transform: rotateY(0deg);}
    50%{transform: rotateY(180deg);}
    100%{transform: rotateY(360deg);}
}

/******************* nav *******************/
.nav {
    position: relative;
    width: 100%;
    height: 56px;
    margin-bottom: 20px;
    background: transparent;
    z-index: 9;
}

.nav-bg {
    position: absolute;
    top: 5px;
    left: 0px;
    bottom: 6px;
    width: 100%;
    background: #444444;
    z-index: 1;
}

.nav ul {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    font-size: 16px;
    z-index: 2;
}

.nav ul li {
    float: left;
    margin: 0 23px;
}

.nav ul a {
    display: inline-block;
    color: #fff;
    height: 56px;
    line-height: 56px;
    padding: 3px 15px;
    font-weight: bold;
}

.nav ul a:hover {
    background: #8bc34a;
    text-decoration: none;
    border-radius: 30px 0px;
}

.nav ul .current {
    background: #8bc34a;
    border-radius: 30px 0px;
}

/******************* main *******************/
.main {
    width: 1080px;
    padding: 25px;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}

.main-left {
    width: 700px;
    /*border: 1px solid #ccc;*/
    float: left;
}

.main-left-title {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid #795548;
}

.main-left-title i {
    color: #d67474;
    margin-right: 10px;
}

.main-content {
    margin-bottom: 30px;
    overflow: hidden;
}

.main-right {
    width: 290px;
    float: right;
}

.main-item {
    margin-bottom: 12px;
}

.blog-title {
    line-height: 50px;
    border-bottom: 1px dashed #607d8b;
}

.blog-title h1 {
    height: 50px;
    font-weight: normal;
    font-size: 18px;
    font-family: '微软雅黑';
}

.title-link {
    height: 40px;
    display: block;
    text-shadow: 1px 1px 1px #ccc;
    color: #607d8b;
    text-decoration: none;
    outline: 0;
    overflow: hidden;
}

.anim-link,
.anim-link a {
    transition: all linear 0.4s;
}

.anim-link:hover,
.anim-link a:hover {
    margin-left: 10px;
}

a:hover,
a:active {
    color: rgb(44, 161, 218);
    text-decoration: none;
}

.anim-link,
.anim-link a {
    transition: all linear 0.4s;
}

.blog-info {
    padding: 10px 0 10px;
    overflow: hidden;
}

.title-info-list a {
    display: inline-block;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    margin-right: 15px;
    padding-left: 18px;
    background-image: url(/images/index/design-icons.png);
    background-repeat: no-repeat;
    transition-duration: 0.3s;
}

.title-info-list a.title-cmt {
    background-position: 0 -95px;
}

.title-info-list a.title-date {
    background-position: 0 0;
}

.title-info-list a.title-clicks {
    background-position: 0 -140px;
}

.title-info-list a.title-sort {
    background-position: 0 -47px;
}

.title-info-list a.title-date:hover {
    background-position: 0 -24px;
}

.title-info-list a.title-sort:hover {
    background-position: 0 -71px;
}

.title-info-list a.title-clicks:hover {
    background-position: 0 -161px;
}

.title-info-list a.title-cmt:hover {
    background-position: 0 -119px;
}

.title-info-list a:hover {
    color: #f60;
}

.blog-content {
    display: flex;
}

.blog-content-fl {
    flex: 1;
}

.blog-link {
    display: block;
    width: 220px;
    height: 150px;
    margin-right: 25px;
    border-radius: 3px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.blog-link img {
    width: 100%;
}

.blog-text {
    width: 100%;
    height: 104px;
    margin: 8px 0 15px;
    line-height: 26px;
    font-size: 14px;
    text-indent: 2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.blog-show {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #848484;
    cursor: pointer;
}

.main-search-head,
.main-sort-head {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    color: #2b2b2b;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
}

.music,
.about{
    margin-top: 20px;
}
.no-data{
    padding: 20px;
    text-align: center;
}

/*music*/
.viny {
    width: 100%;
    margin-top: 10px;
    background: #4c4c4c;
}

.viny .art {
    background: url(http://www.lmlblog.com/blog/12/images/vinyl.png) no-repeat left;
    width: 130px;
    float: left;
    background-size: 120px;
    margin-top: 16px;
}

.viny dl dd {
    color: #fff;
    line-height: 24px;
    padding-top: 8px;
}

.viny .art img {
    display: block;
    width: 90px;
    height: 90px;
    margin-left: 11px
}

.viny dd span {
    width: 12px;
    height: 24px;
    margin-right: 7px;
    float: left;
    display: block;
}

.icon-song span,
.icon-artist span,
.icon-album span,
.icon-like span {
    background: url(../images/index/icons.png) no-repeat;
}

.icon-song span {
    background-position: -33px -344px
}

.icon-artist span {
    background-position: -16px -344px
}

.icon-album span {
    background-position: 0 -344px
}

.icon-like span {
    background-position: -1px -299px;
}

.icon-like a {
    color: #B5783E
}

.icon-like a:hover {
    color: #FFF;
    text-decoration: underline
}

.music audio {
    width: 100%;
    padding-top: 10px
}
/* 关于我 */
.two-code{
    text-align: center;
}
.two-code>img {
    width: 80%;
    margin: 15px auto;
    display: block;
}
#qrcode{
    width: 215px;
    margin: 15px auto 10px;
    display: inline-block;
}
.sao-txt {
    text-align: center;
    font-size: 12px;
}

.main-search-content {
    padding: 10px 0;
}

#search {
    display: inline-block;
    width: 200px;
    height: 32px;
    padding: 0 8px;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    outline: none;
    line-height: 32px;
    text-align: left;
    color: #3a3a3a;
}

#search-btn {
    display: inline-block;
    padding: 0 8px;
    border-radius: 5px;
    line-height: 28px;
    outline: none;
}

.main-sort {
    margin-top: 20px;
}

.main-sort-content {
    padding: 10px 0;
    overflow: hidden;
}

.main-sort-bar {
    width: 50%;
    font-size: 14px;
    line-height: 26px;
    color: #333;
    cursor: pointer;
    float: left;
}

#backToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    text-align: center;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

.foot {
    width: 100%;
    min-width: 1080px;
    background: #2f353b;
}

.foot-link {
    width: 1080px;
    height: 100px;
    margin: auto;
    padding: 20px;
}

.foot-link p {
    margin-bottom: 10px;
    color: #a0aab9;
}

.foot-link-wrap a {
    margin-right: 20px;
    color: #a0aab9;
}

.foot-link-wrap a:hover {
    color: #00bcd4;
}

.foot-copyright {
    width: 100%;
    background: #272d32;
    text-align: center;
    line-height: 60px;
    font-size: 14px;
    color: #7b8088;
}

.banner {
    width: 700px;
    height: 310px;
}

.art {
    width: 290px;
    margin-top: 20px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 100%;
    width: 78%;
}

.gallery-thumbs {
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    /* padding: 10px 0; */
}

.gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
    border: 3px solid #ddd;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    border-color: #ffc9b8;
}

.art-txt {
    line-height: 30px;
    font-size: 16px;
    border-bottom: 2px solid #936636;
    padding-bottom: 5px;
}

.art-txt i {
    color: #d67474;
    margin-right: 10px;
}

.art-list li {
    border-bottom: 1px solid #eee;
}

.art-list a {
    position: relative;
    display: inline-block;
    width: 290px;
    height: 33px;
    padding-left: 15px;
    line-height: 33px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #3a3a3a;
    vertical-align: top;
    overflow: hidden;
}

.art-list a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-radius: 6px;
    background: #827f7f;
}