
	<%- include('./partials/header.ejs') %>
	<title>神奇的海蛎仔个人博客</title>
</head>

<body>
	<%- include("./partials/nav.ejs",{currentUrl:'/about'}) %>
	<div class="main">
		<div class="main-left">
			<div class="main-content">
				这个人太懒了，什么也没留下...
			</div>
		</div>
		<%- include("./partials/right.ejs") %>
	</div>
	<%- include("./partials/footer.ejs") %>
	<script>
		$(function () {

		});
	</script>

</body>

</html>